/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/



@media screen and (max-width: 600px){
    .main-title p.p2 {
        font-size: 20px;
        width: 90%;
        margin: 5px;
    }
    div.learn-more{
        margin-top: 0;
        width: 60% !important;
    }
}
@media screen and (min-width: 660px){
    div.burguer{
        display: none;
    }
    .collapsed {
        margin: 15px;
        width: 100vw;
        height: 40px;
        top: 0 !important;
        background-color: transparent;
    }
    .close-icon{
        display: none;
    }
    .collapsed a {
        display: inline;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding-right: 20px;
        margin-left: 5px;
        font-size: 25px;
        font-family: var(--roboto);
    }

    .main-title{
        margin: 35px;
        height: 25vh;
    }
    .main-title p.p1 span{
        font-size: 65px;
    }
    .main-title p.p1{
        font-size: 35px;
    }
    .main-title p.p2{
        width: 55%;
        font-size: 28px;
    }
    .section{
        display: none;
    }
    .section-img img{
        display: block;
        width: 90%;
        margin-left: 45px;
    }
    div.learn-more{
        width: 40% !important;
    }
}

@media screen and (min-width: 350px){
    .main-title{
        height: 50vh;
    }
    .main-title p.p1{
        font-size: 40px;
    }
    .main-title p.p1 span{
        font-size: 60px;
    }
    .learn-more{
        top: 200% !important;
        width: 60% !important;
    }
    .button{
        font-size: 20px;
    }
}

@media screen and (min-width: 850px){
    div.learn-more{
        width: 30% !important;
    }
}
