/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins/Poppins-Black.ttf);
}

@font-face {
    font-family: "Ubuntu Sans Mono";
    src: url(../fonts/Ubuntu_Sans_Mono/UbuntuSansMono-VariableFont_wght.ttf);
}

@font-face {
    font-family: "IBM Plex Mono";
    src: url(../fonts/IBM_Plex_Mono/IBMPlexMono-ExtraLight.ttf);
}

@font-face {
    font-family: "DM Mono";
    src: url(../fonts/DM_Mono/DMMono-LightItalic.ttf);
}

@font-face {
    font-family: "Roboto";
    src: url(../fonts/roboto/Roboto-Black.ttf);
}

@font-face {
    font-family: "Roboto Mono";
    src: url(../fonts/Roboto_Mono/RobotoMono-Italic-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Effra Light";
    src: url(../fonts/Effra-Light/Effra-Light.ttf);
}

@font-face {
    font-family: "Effra Bold";
    src: url(../fonts/effra-bold_EaCxY//Effra-Bold/Effra-Bold.ttf);
}

@font-face {
    font-family: "Bebas Neue";
    src: url(../fonts/bebas-neue-cufonfonts-webfont/BebasNeue-Regular.woff);
}

:root {
    --roboto: "Roboto", sans-serif;
    --bebas: "Bebas Neue", sans-serif;
    --effraB: "Effra Bold", sans-serif;
    --effraL: "Effra light", sans-serif;
    --cta-button: #068e3f;
    --main-color: #8431d284;
    --box-shadow: inset 0px 5px 5px -5px white;
    --font-size: 11px;
}

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    margin: 0;
    background-color: black;
    color: #fff;
    z-index: 1;
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
}

.burguer {
    background-color: #8400ff;
    padding: 8px;
    margin-bottom: 0;
    text-align: center;
    font-size: 25px;
    width: 99vw;
}

.burguer i {
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition: -webkit-transform 0.5s ease-in-out;
    -o-transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.burguer i:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    cursor: pointer;
}
.collapsed {
    position: absolute;
    top: -50%;
    width: 100%;
    height: 170px;
    background-color: rgb(37, 37, 37);
    z-index: 100;
    -webkit-transition: top 1s ease-in-out;
    -o-transition: top 1s ease-in-out;
    transition: top 1s ease-in-out;
}

.collapsed a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 12px 8px 8px 8px;
    color: whitesmoke;
    text-decoration: none;
}

.collapsed a i {
    margin-right: 7px;
}

.collapsed .close-icon {
    position: absolute;
    left: 92%;
    font-size: 1.5em;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition: -webkit-transform 0.5s ease-in-out;
    -o-transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.collapsed .close-icon:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    cursor: pointer;
}

.overflow-menu {
    z-index: 1;
    position: absolute;
    width: 100vw;
    height: 98vh;
    background-color: rgba(0, 0, 0, 0.507);
    -webkit-transition: opacity 0.5s ease-in;
    -o-transition: opacity 0.5s ease-in;
    transition: opacity 0.5s ease-in;
    opacity: 0;
    overflow: hidden;
}

.main-title {
    margin: 0;
    text-align: left;
    padding: 10px 50px 50px 20px;
    background-image: url(../content/bg2.png);
    background-size: cover;
    overflow: hidden;
}

.main-title h1 {
    font-size: 24px;
    margin-top: 0;
    font-family: var(--effraB);
}

.main-title h1 span {
    font-family: var(--bebas), Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bolder;
}

.main-title p {
    font-family: var(--effraL);
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.bg {
    background-image: url(../content/bg1.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 80vh;
    z-index: 100;
    overflow: hidden;
}

.section {
    overflow: hidden;
    background-color: var(--main-color);
    -webkit-box-shadow: var(--box-shadow);
            box-shadow: var(--box-shadow);
    text-align: center;
    margin: 10px 20px 20px 20px;
    padding-top: 1px;
    border-radius: 10px;
}


.section h2,
.section p {
    padding: 0 10px 10px 10px;
}

.section h2 {
    font-family: var(--effraB);
    font-style: normal;
    font-size: 20px;
}

.section p {
    font-family: var(--effraL);
    font-size: 15px;
}

.section-img img {
    display: none;
    width: 100vw;
}

.steps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-family: var(--effraL);
    overflow: hidden;
}

.step {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-wrap: nowrap;
    width: 95vw;
    height: 15%;
    text-align: left;
    background-color: transparent;
    padding: 0 20px 20px 20px;
    margin: 10px;
    border-radius: 10px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    overflow: hidden;
}

.button {
    -webkit-box-shadow: var(--box-shadow);
            box-shadow: var(--box-shadow);
    display: inline-block;
    background-color: var(--main-color);
    width: 80vw;
    padding: 20px 50px 20px 50px;
    margin-right: 25px;
    border-radius: 200px;
    font-size: 24px;
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
    position: relative;
}

.button::before {
    position: absolute;
    left: 0;
    padding: 5px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    background: var(--main-color);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 24px;
}
.button[data-num="1"]{
    margin-top: 25px;
}
.button[data-num="1"]::before {
    content: '1';
}

.button[data-num="2"]::before {
    content: "2";
}

.button[data-num="3"]::before {
    content: "3";
}

.button[data-num="4"]::before {
    content: "4";
}

.button[data-num="5"]::before {
    content: "5";
}

.step:nth-child(2),
.step:nth-child(4) {
    margin-left: 70px;
}

.step h2 {
    margin: 0;
    padding: 0;
}

.learn-more {
    -webkit-box-shadow: var(--box-shadow);
            box-shadow: var(--box-shadow);
    position: absolute;
    top: 75vh;
    left: 50%;
    -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
            transform: translate(-50%);
    width: 60%;
    height: 170px;
    text-align: center;
    margin: 10px 0;
    margin-bottom: 15px;
    background-color: var(--main-color);
    border-radius: 20px;
}

.learn-more h3 {
    font-family: var(--bebas);
    font-size: 25px;
}

.learn-more p {
    font-size: 13px;
    font-family: var(--effraB);
}

.learn-more button {
    border: none;
    font-family: var(--effraL);
    font-weight: bold;
    background-color: var(--cta-button);
    -webkit-box-shadow: 1px 1px 3px black;
            box-shadow: 1px 1px 3px black;
    color: #fff;
    padding: 4px;
    width: 60%;
    border-radius: 10px;
    text-decoration: none;
    text-wrap: nowrap;
    font-size: 15px;
    cursor: pointer;
}