@media screen and (min-width: 390px) and (min-height: 844px){
    .step .step-text {
        top: 65.5% !important;
        margin-left: -5px;
    }
    
    .step .step-text2 {
        top: 76% !important;
    }
    
    .step .step-text3 {
        top: 86% !important;
    }
    
    .step .step-text4 {
        top: 96.5% !important;
    }
    
    .step .step-text5 {
        font-size: 15px;
        top: 107% !important;
    }
    .learn-more{
        top: 115% !important;
    }
}
@media screen and (min-width: 414px) and (min-height: 896px){
    .step .step-text {
        top: 58.5% !important;
    }
    
    .step .step-text2 {
        top: 68.5% !important;
    }
    
    .step .step-text3 {
        top:79% !important;
    }
    
    .step .step-text4 {
        top: 89% !important;
    }
    
    .step .step-text5 {
        top: 99% !important;
    }
    
}
@media screen and (min-width: 375px) and (min-height: 667px){
    .step .step-text {
        top: 82.9%;
        margin-left: -7px;
    }
    
    .step .step-text2 {
        top: 95.5%;
    }
    
    .step .step-text3 {
        top:108.5%;
    }
    
    .step .step-text4 {
        top: 121%;
    }
    
    .step .step-text5 {
        font-size: 15px;
        top: 133.5%;
    }
    .learn-more{
        top: 145%;
    }
    .step .number2{
        left: 22% !important;
    }
}
@media screen and (min-width: 430px) and (min-height: 932px){
    .step .step-text {
        top: 54.5% !important;
        font-size: 16px;
    }
    
    .step .step-text2 {
        top: 64.5% !important;
        font-size: 16px;
    }
    
    .step .step-text3 {
        font-size: 16px;
        top: 74.5% !important;
    }
    
    .step .step-text4 {
        top: 84.5% !important;
        font-size: 16px;
    }
    
    .step .step-text5 {
        font-size: 16px;
        top: 94.5% !important;
    }
    .learn-more{
        top: 115% !important;
    }
    .step .number2{
        left: 22% !important;
    }
    
}

@media screen and (min-width: 360px) and (min-height: 740px){
    .step .step-text {
        top: 77% !important;
        font-size: 13px;
    }
    
    .step .step-text2 {
        top: 88% !important;
        font-size: 13px;
    }
    
    .step .step-text3 {
        font-size: 13px;
        top: 99.5% !important;
    }
    
    .step .step-text4 {
        top: 110.5% !important;
        font-size: 13px;
    }
    
    .step .step-text5 {
        font-size: 16px;
        top: 121.5% !important;
    }
    .learn-more{
        top: 130% !important;
    }
    
}

@media screen and (min-width: 768px) and (min-height: 1024px){
    .main-title{
        height: 40vh;
    }
    .main-title h1 span{
        text-wrap: wrap;    
    }
    .section{
        display: none;
    }
    .section-img img{
        display: block;
    }
    .step {
        margin-left: 45px;
        border-radius: 10px;
        flex: 1;
        overflow: hidden;
    }
    .step:nth-child(2),
    .step:nth-child(4){
        margin-left: 85px;
    }
    .step .step-text {
        top: 56.3% !important;
        font-size: 30px;
    }
    
    .step .step-text2 {
        top: 71% !important;
        margin-left: -25px;
        font-size: 30px;
    }
    
    .step .step-text3 {
        font-size: 30px;
        top: 85.5% !important;
    }
    
    .step .step-text4 {
        top: 100% !important;
        font-size: 30px;
        margin-left: -25px;
    }
    
    .step .step-text5 {
        font-size: 30px;
        top: 113.5% !important;
        margin-left: -20px;
    }
    .step .number{
        font-size: 70px !important;
        left: 14.5%;
    }
    .step .number2{
        font-size: 70px;
        left: 20% !important;
        margin-top: 10px;
    }
    .learn-more{
        top: 124% !important;
        width: 50%;
        font-size: 25px;
        height: 200px;
    }
    .learn-more p{
        font-size: 15px;
        margin-bottom: 15px;
    }
    .learn-more button{
        width: 40%;
        height: 40px;
    }
    
}

