@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins/Poppins-Black.ttf);
}

@font-face {
    font-family: "Ubuntu Sans Mono";
    src: url(../fonts/Ubuntu_Sans_Mono/UbuntuSansMono-VariableFont_wght.ttf);
}

@font-face {
    font-family: "IBM Plex Mono";
    src: url(../fonts/IBM_Plex_Mono/IBMPlexMono-ExtraLight.ttf);
}

@font-face {
    font-family: "DM Mono";
    src: url(../fonts/DM_Mono/DMMono-LightItalic.ttf);
}

@font-face {
    font-family: "Roboto";
    src: url(../fonts/roboto/Roboto-Black.ttf);
}

@font-face {
    font-family: "Roboto Mono";
    src: url(../fonts/Roboto_Mono/RobotoMono-Italic-VariableFont_wght.ttf);
}
@font-face {
    font-family: "Effra Light";
    src: url(../fonts/Effra-Light/Effra-Light.ttf);
}
@font-face {
    font-family: "Effra Bold";
    src: url(../fonts/effra-bold_EaCxY//Effra-Bold/Effra-Bold.ttf);
}
@font-face {
    font-family: "Bebas Neue";
    src: url(../fonts/bebas-neue-cufonfonts-webfont/BebasNeue-Regular.woff);
}
:root {
    --ibm: "IBM Plex Mono", sans-serif;
    --ubuntu-font: "Ubuntu Sans Mono", sans-serif;
    --poppins-font: "Poppins", sans-serif;
    --dm: "DM mono", sans-serif;
    --roboto: "Roboto", sans-serif;
    --roboto-mono: "Roboto Mono", sans-serif;
    --bebas: "Bebas Neue", sans-serif;
    --effraB: "Effra Bold", sans-serif;
    --effraL: "Effra light", sans-serif;
    --font-size: 11px;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    margin: 0;
    background-color: black;
    color: #fff;
    z-index: 1;
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
}

.burguer {
    background-color: #541d97;
    padding: 8px;
    margin-bottom: 0;
    text-align: center;
    font-size: 25px;
    width: 99vw;
}

.burguer i {
    transition: transform 0.5s ease-in-out;
}

.burguer i:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.collapsed {
    position: absolute;
    top: -50%;
    width: 100%;
    height: 170px;
    background-color: rgb(37, 37, 37);
    z-index: 100;
    transition: top 1s ease-in-out;
}

.collapsed a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 8px 8px 8px;
    color: whitesmoke;
    text-decoration: none;
}

.collapsed a i {
    margin-right: 7px;
}

.collapsed .close-icon {
    position: absolute;
    left: 92%;
    font-size: 1.5em;
    transition: transform 0.5s ease-in-out;
}

.collapsed .close-icon:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.overflow-menu {
    z-index: 1;
    position: absolute;
    width: 100vw;
    height: 98vh;
    background-color: rgba(0, 0, 0, 0.507);
    transition: opacity 0.5s ease-in;
    opacity: 0;
    overflow: hidden;
}

.main-title {
    margin: 0;
    text-align: left;
    padding: 10px 50px 50px 20px;
    background-image: url(../content/bg2.png);
    background-size: cover;
    overflow: hidden;
}

.main-title h1 {
    font-size: 24px;
    margin-top: 0;
    font-family: var(--effraB);
}

.main-title h1 span {
    font-family: var(--bebas), Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bolder;
}

.main-title p {
    font-family: var(--effraL);
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 0px;
}
.bg {
    background-image: url(../content/bg1.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 180vh;
    z-index: 100;
    overflow: hidden;
}

.section {
    overflow: hidden;
    font-family: var(--ubuntu-font);
    background-color: #53008682;
    box-shadow: inset 0px 5px 5px -5px white;
    text-align: center;
    margin: 10px 20px 20px 20px;
    padding-top: 1px;
    border-radius: 10px;
}


.section h2,
.section p {
    padding: 0 10px 10px 10px;
}

.section h2 {
    font-family: var(--poppins-font);
    font-style: normal;
    font-size: 20px;
}

.section p {
    font-family: var(--ubuntu-font);
    font-size: 15px;
}
.section-img img{
    display: none;
    width: 100vw;
}
.steps {
    padding: 10px;
    margin: 20px 0;
    font-family: var(--roboto);
    overflow: hidden;
}

    .step {
        text-wrap: nowrap;
        width: 80vw;
        height: 15%;
        text-align: left;
        background-color: transparent;
        padding: 0 20px 20px 20px;
        margin: 10px;
        border-radius: 10px;
        flex: 1;
        overflow: hidden;
    }

.step img {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}

.step .number {
    text-align: left;
    font-size: 35px;
    position: absolute;
    left: 15%;
    margin-top: 8px;
}

.step .number2 {
    text-align: left;
    font-size: 35px;
    margin-top: 5px;
    left: 20.5% !important;
    position: absolute;
}

.step .step-text {
    font-family: var(--roboto);
    font-weight: lighter;
    font-size: 14px;
    position: absolute;
    top: 55.9%;
    left: 28%;
}

.step .step-text2 {
    font-family: var(--roboto);
    font-size: var(--font-size);
    position: absolute;
    top: 65.5%;
    font-size: 14px;
    margin-left: -15px;
    left: 37%;
}

.step .step-text3 {
    font-family: var(--roboto);
    font-size: 14px;
    position: absolute;
    top: 75.7%;
    left: 28%;
}

.step .step-text4 {
    font-family: var(--roboto);
    font-size: 14px;
    margin-left: -10px;
    position: absolute;
    top: 85.7%;
    left: 37%;
}

.step .step-text5 {
    font-family: var(--roboto);
    font-size: 14px;
    position: absolute;
    top: 95.5%;
    left: 30%;
}

.step:nth-child(2),
.step:nth-child(4) {
    margin-left: 35px;
}

.step h2 {
    margin: 0;
    padding: 0;
}

.learn-more {
    box-shadow: inset 0px 5px 5px -5px white;
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%);
    width: 80%;
    height: 150px;
    text-align: center;
    margin: 10px 0;
    margin-bottom: 15px;
    background-color: #7900c485;
    border-radius: 20px;
}

.learn-more h3 {
    font-family: var(--ubuntu-font);
}

.learn-more p {
    font-size: 13px;
    font-family: var(--poppins-font);
}

.learn-more button {
    border: none;
    font-family: var(--ubuntu-font);
    font-weight: bold;
    background-color: #068e3f;
    box-shadow: 1px 1px 3px black;
    color: #fff;
    padding: 1px;
    width: 60%;
    border-radius: 10px;
    text-decoration: none;
    text-wrap: nowrap;
    font-size: 15px;
}